################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BankingSystem.VC.VC.opendb
/BankingSystem/BankingSystem/Debug